@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>Last updated: August 04, 2021</p>
    <p>hosted on Github<a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Github</a>.</p>
    <h1>H1 Txt</h1>
    <p>Some Txt</p>
    <p>Some txt.</p>
</blockquote>
<hr />
<blockquote>
    <h3>This project was made using:</h3>
    <p>ASP.NET Core MVC</p>
    <p>C#</p>
    <p>Entity Framework</p>
    <p>Some txt.</p>
</blockquote>